[role=button]{
  cursor: pointer;
}

.has-danger .invalid-feedback {
    color: #a94442;
    display: block;
}
.has-danger .form-control-label {
    color: #a94442;
    font-weight: 700;
}
.has-danger .form-control {
    border-color: #a94442;
}
