<p style="margin-bottom: 0.14in; line-height: 115%" align="center"><font style="font-size: 20pt" size="5"><b>Certificat
médical</b></font></p>
<p style="margin-bottom: 0.14in; line-height: 115%" align="center"><font style="font-size: 20pt" size="5"><b>pratique
multi sports</b></font></p>
<p style="margin-bottom: 0.14in; line-height: 115%" align="center"><br>
<br>

</p>
<p style="margin-bottom: 0.14in; line-height: 115%"><font style="font-size: 12pt" size="3"><b>Je
sousigné, Me
M...............................................................................................</b></font></p>
<p style="margin-bottom: 0.14in; line-height: 115%"><font style="font-size: 12pt" size="3"><b>Docteur
en Médecine,
demeurant.......................................................................</b></font></p>
<p style="margin-bottom: 0.14in; line-height: 115%"><font style="font-size: 12pt" size="3"><b>Certifie
avoir
examiné.........................................................................................</b></font></p>
<p style="margin-bottom: 0.14in; line-height: 115%"><font style="font-size: 12pt" size="3"><b>Né(e)
le...............................................................................................................</b></font></p>
<p style="margin-bottom: 0.14in; line-height: 115%"><font style="font-size: 12pt" size="3"><b>Et
n'avoir constaté à ce jour, aucun signe clinique apparent contre
indiquant la pratique des sports suivants :</b></font></p>
<p style="margin-bottom: 0.14in; line-height: 115%"><font style="font-size: 12pt" size="3"><b>(Rayez
seulement les sports contre indiqués)</b></font></p>
<p style="margin-bottom: 0in; line-height: 115%"><font style="font-size: 12pt" size="3"><b>-
Athlétisme</b></font></p>
<p style="margin-bottom: 0in; line-height: 115%"><font style="font-size: 12pt" size="3"><b>-
Natation</b></font></p>
<p style="margin-bottom: 0in; line-height: 115%"><font style="font-size: 12pt" size="3"><b>-
course à obstacle</b></font></p>
<p style="margin-bottom: 0in; line-height: 115%"><font style="font-size: 12pt" size="3"><b>-
handball</b></font></p>
<p style="margin-bottom: 0in; line-height: 115%"><font style="font-size: 12pt" size="3"><b>-
Jeu au flag</b></font></p>
<p style="margin-bottom: 0in; line-height: 115%"><font style="font-size: 12pt" size="3"><b>-
Badminton</b></font></p>
<p style="margin-bottom: 0in; line-height: 115%"><font style="font-size: 12pt" size="3"><b>-
Tennis de table</b></font></p>
<p style="margin-bottom: 0in; line-height: 115%"><font style="font-size: 12pt" size="3"><b>-
Course d'orientation</b></font></p>
<p style="margin-bottom: 0in; line-height: 115%"><font style="font-size: 12pt" size="3"><b>-
Biathlon</b></font></p>
<p style="margin-bottom: 0in; line-height: 115%"><br>

</p>
<p style="margin-bottom: 0in; line-height: 115%"><font style="font-size: 12pt" size="3"><b>Fait
à..................................le.........................................</b></font></p>
<p style="margin-bottom: 0in; line-height: 115%"><br>

</p>
<p style="margin-bottom: 0in; line-height: 115%"><font style="font-size: 12pt" size="3"><b>Signature
du Médecin</b></font></p>
