{% set player_rank = player.get_tourna_by_challenge(challenge.id) %}
<tr id="player_{{player.id}}">
    <td> {{ player.username }} </td>
    <td>{{player.get_score_by_challenge(challenge.id)}} pts.</td>
{% if edit %}
    <td>
      <form action="/score_player" method="POST">
        <input id="player_id" name="player_id" type="hidden" value="{{player.id}}"/>
        <input id="challenge_id" name="challenge_id" type="hidden" value="{{challenge.id}}"/>
        {% if challenge.is_points_type()%}
        <input type="text" id="score" name="score" value="{{player.get_score_by_challenge(challenge.id)}}" maxlength="4" size="4"/>pts.
        {% elif challenge.is_chrono_type() %}
        <input type="text" id="chrono" name="chrono" value="{{player.get_chrono_by_challenge_str(challenge.id)}}" maxlength="6" size="6"/>secs.
        {% elif challenge.is_distance_type() %}
        <input type="text" id="distance" name="distance" value="{{player.get_distance_by_challenge(challenge.id)}}" maxlength="4" size="4"/>{{_('meters')}}
        {% elif challenge.is_bonus_type() %}
        <input type="text" id="bonus" name="bonus" value="{{player.get_bonus_by_challenge(challenge.id)}}" maxlength="4" size="4"/>bonus
        {% elif challenge.is_tourna_type() %}
		<select id="tourna" name="tourna" class="selectpicker form-control">
			{% for t in tourna_ranks %}
              {% set selected  = "selected" if player_rank == t.value else "" %}
			  <option value="{{ t.value }}" {{selected}}>{{ t.name }}</option>
			{% endfor %}
		</select>
        {% endif %}
        <button type="submit" class="btn btn-info">{{ _('Validate') }}</button>
       </form>
    </td>
{% else %}
    {% if challenge.is_chrono_type() %}
    <td>{{player.get_chrono_by_challenge_str(challenge.id)}} secs.</td>
    {% elif challenge.is_distance_type() %}
    <td>{{player.get_distance_by_challenge(challenge.id)}} {{_('meters')}}</td>
    {% elif challenge.is_bonus_type() %}
    <td>{{player.get_bonus_by_challenge(challenge.id)}} {{_('bonus')}}</td>
    {% elif challenge.is_tourna_type() %}
         {% if player_rank == None %}
         <td>{{ _('Not ranked yet') }}</td>
         {% else %}
         <td>{{ tourna_ranks[player_rank].name }}</td>
         {% endif %}
    {% endif%}
{% endif %}

</tr>
