<p style="margin-bottom: 0.26in; line-height: 100%"><font color="#1f1e1e"><font face="Helvetica, serif"><font style="font-size: 24pt" size="6">Les
Open Games 1ère édition Limoux </font></font></font>
</p>
<p style="margin-bottom: 0.26in; line-height: 100%"><font color="#1f1e1e"><font face="Helvetica, serif"><font style="font-size: 24pt" size="6">RÈGLEMENT</font></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#1f1e1e"><font face="Helvetica, serif"><font style="font-size: 18pt" size="5">INFORMATIONS
IMPORTANTES</font></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">En
m’inscrivant aux Open Games Limoux 1ère édition, j’atteste
avoir conscience des risques encourus par la pratique du sport et de
ses contraintes spécifiques (matériel obligatoire, respect de la
nature, infrastructures, horaires).<br>
J’ai également pris
connaissance des informations de ce règlement des Open Games Limoux
1ère édition. Je m’engage à participer à ces Open Games avec
tout le matériel obligatoire exigé (cf. règlement), de respecter
la nature (respect de la faune et la flore, jet de déchets
formellement interdit, limiter les nuisances sonores) et du matériels
mis à disposition sur les épreuves (modification du balisage,
déterioration matériel comme des raquettes, etc.) ainsi que
l’ensemble des directives définies par les organisateurs.</font></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Si
nous constatons un non-respect de ces règles, l’équipe sera
immédiatement disqualifiée, sans remboursement du droit
d’inscription.</font></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#1f1e1e"><font face="Helvetica, serif"><font style="font-size: 18pt" size="5">ARTICLE
1 – ORGANISATION :</font></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Les
Open Games Limoux 1ère édition est organisée le Samedi 15 et le
dimanche 16 juin 2019.</font></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#1f1e1e"><font face="Helvetica, serif"><font style="font-size: 13pt" size="4">Lieu
:</font></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#000000"><font face="inherit, serif"><font style="font-size: 12pt" size="3"><b>Infrastructures
sportives et espaces publiques de la ville de Limoux.</b></font></font></font></p>
<ul>
	<li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">le
	stade et le gymnase de Flassian</font></font></font></p>
	</li><li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Le
	gymnase de l'Olympie</font></font></font></p>
	</li><li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Espace
	verts de Notre Dame de Marceille</font></font></font></p>
	</li><li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Esplanade
	François Mitterand</font></font></font></p>
	</li><li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Centre
	de Ninaute</font></font></font></p>
</li></ul>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#1f1e1e"><font face="Helvetica, serif"><font style="font-size: 13pt" size="4">Horaires
sportives :</font></font></font></p>
<ul>
	<li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Finalisation
	des inscriptions de 10h à 12h samedi 15 juin au village</font></font></font></p>
	</li><li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Epreuves
	du samedi après midi : 14 h à 18h30</font></font></font></p>
	</li><li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Epreuves
	du dimanche matin : 8h à 12h30</font></font></font></p>
	</li><li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Epreuves
	du dimanche après midi : 14h30 à 16h30</font></font></font></p>
	</li><li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Remise
	des récompenses : 17h30 au village</font></font></font></p>
</li></ul>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<br>
<br>

</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#1f1e1e"><font face="Helvetica, serif"><font style="font-size: 18pt" size="5">ARTICLE
2 – LES EQUIPES :</font></font></font></p>
<ul>
	<li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Chaque
	équipe est composée de 4 participants dont au moins 1 féminine.</font></font></font></p>
	</li><li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Chaque
	participant doit être né en 2007 ou avant.</font></font></font></p>
	</li><li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Autorisation
	parentale obligatoire pour les mineurs</font></font></font></p>
	</li><li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Un
	même participant ne peut s’inscrire dans plusieurs équipes.</font></font></font></p>
	</li><li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Obligation
	d’avoir au moins un majeur par équipe.</font></font></font></p>
	</li><li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Chaque
	équipe doit désigner un Capitaine.</font></font></font></p>
	</li><li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Chaque
	équipe devra choisir entre le niveau loisirs ou le niveau sportif,
	sauf les équipes ayant des mineurs nés entre 2005 et 2007, qui
	seront obligatoirement dans le niveau loisirs.</font></font></font></p>
</li></ul>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#1f1e1e"><font face="Helvetica, serif"><font style="font-size: 18pt" size="5">ARTICLE
3 – MODALITÉS D’INSCRIPTION :</font></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">L’épreuve
est ouverte à toutes personnes, nées avant l'année 2007. Les
inscriptions s’effectuent à partir du 23 février 2019 dans la
limite des places disponibles via le site internet :
www.lesopengames.com, ou avec le formulaire papier.</font></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Le
prix d’engagement par personne  est de 30 euros. Un tarif réduit à
25€ est accordé aux mineurs et aux étudiants.</font></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Tout
dossier est considéré comme incomplet s’il ne comporte pas
l’ensemble des pièces suivantes :</font></font></font></p>
<ul>
	<li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Inscription
	en ligne</font></font></font></p>
	</li><li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Paiement
	des droits d’inscription (paiement en ligne  ou par chèque à
	l’ordre de l'association "Les Open Games")</font></font></font></p>
	</li><li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Pour
	les mineurs, une  autorisation parentale signée est obligatoire</font></font></font></p>
	</li><li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Certificat
	médical pour la pratique multisport</font></font></font></p>
	</li><li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">acceptation
	de ce règlement</font></font></font></p>
</li></ul>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">ATTENTION
: votre inscription ne sera validée que lorsque toutes les pièces
seront fournies et ce au plus tard le 8 juin 2019. En attendant votre
inscription sera considérée comme «en attente». Une fois validée,
vous aurez votre numéro de participant attribué.<br>
Passé ce
délai ou si les quotas d’inscription s’avèrent atteints, votre
inscription sera annulée.</font></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#1f1e1e"><font face="Helvetica, serif"><font style="font-size: 18pt" size="5">ARTICLE
4 – PARTICIPATION AUX EPREUVES :</font></font></font></p>
<ul>
	<li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Chaque
	équipe s’engage à participer à toutes les épreuves.</font></font></font></p>
	</li><li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Aucune
	épreuve ne pourra être déplacée ou rejouée (blessures,
	litiges…)</font></font></font></p>
	</li><li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Chaque
	équipe s’engage à être présente à l’heure de la convocation
	sur le lieu<br>
adéquat, sous peine de pénalité, afin de
	respecter le «&nbsp;timing&nbsp;» imposé.</font></font></font></p>
	</li><li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Chaque
	équipe s’engage à respecter les décisions des arbitres. En cas
	de litige, seule la décision du Comité d’Organisation sera prise
	en considération.</font></font></font></p>
	</li><li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Les
	Organisateurs se réservent le droit d’exclure les équipes
	faisant preuve d’un mauvais esprit sportif,&nbsp;</font></font></font><font color="#000000"><font face="inherit, serif"><font style="font-size: 12pt" size="3"><u><b>sans
	remboursement du droit d’inscription</b></u></font></font></font><font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">.</font></font></font></p>
</li></ul>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#1f1e1e"><font face="Helvetica, serif"><font style="font-size: 18pt" size="5">ARTICLE
5 – SECURITE ET ASSISTANCE MEDICALE :</font></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Il
appartient à un coureur en difficulté ou sérieusement blessé de
faire appel aux secours :</font></font></font></p>
<ul>
	<li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">en
	appelant le Point de contrôle (PC) au 07 56 82 24 00</font></font></font></p>
	</li><li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">en
	demandant à un autre coureur de prévenir les secours</font></font></font></p>
</li></ul>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">En
cas d’impossibilité de joindre le PC ou signaleur, vous pouvez
appeler directement les organismes de secours et seulement en cas
d’urgence vitale. (112 depuis la France)<br>
Il appartient à
chaque équipe de porter assistance à toute personne en danger et de
prévenir les secours.<br>
Un participant faisant appel à un
médecin ou un secouriste se soumet de fait à son autorité et
s’engage à accepter ses décisions.<br>
Les secouristes sont en
particulier habilités :</font></font></font></p>
<ul>
	<li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">à
	mettre hors course (en invalidant le dossard) tout concurrent inapte
	à continuer les épreuves</font></font></font></p>
	</li><li>
<p style="margin-bottom: 0in; line-height: 100%; background: #ffffff">
	<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">à
	faire évacuer par tout moyen et à leur convenance les participants
	qu’ils jugeront en danger</font></font></font></p>
</li></ul>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Les
frais résultants de l’emploi de ces moyens exceptionnels sont
supportés par la personne secourue qui doit également assurer son
retour du point où elle a été évacuée. Il est du seul ressort du
participant de constituer et présenter un dossier à son assurance
personnelle dans le délai imparti.<br>
Enfin, en cas d’abandon,
il est demandé de le signaler impérativement au PC afin d’éviter
des recherches  inutiles.</font></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#1f1e1e"><font face="Helvetica, serif"><font style="font-size: 18pt" size="5">ARTICLE
6 – ASSURANCES</font></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">L’organisation
est assurée en responsabilité civile «&nbsp;organisateur&nbsp;»,
conformément à la législation en vigueur.<br>
Les concurrents
doivent être couverts par une assurance responsabilité civile
individuelle et par une assurance individuelle accident.<br>
Nous
vous encourageons vivement à souscrire une police d’assurance
individuelle.</font></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Les
organisateurs déclinent toute responsabilité en cas d’accident,
de défaillance provoquée par un mauvais état de santé, de perte
ou de vol de matériel. En aucun cas, un concurrent ne pourra se
retourner contre l’organisation pour quelque motif que ce soit.</font></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Dommage
matériel : L’organisateur décline toute responsabilité en cas de
dommages (vol, bris, perte, …) subis par les biens personnels des
participants,<br>
ce même s’il en a la garde. Les participants ne
pourront donc se retourner contre l’organisateur pour tout dommage
causé à leur équipement.<br>
La souscription d’une assurance
garantissant ces risques est du ressort de chacun.</font></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<br>
<br>

</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#1f1e1e"><font face="Helvetica, serif"><font style="font-size: 18pt" size="5">ARTICLE
7 – DROIT A L’IMAGE</font></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Par
sa participation au Open Games Limoux 1ère édition, chaque
concurrent autorise expressément l’organisation ainsi que les
ayant droits, tels que partenaires et médias, à utiliser ou faire
utiliser ou reproduire ou faire reproduire en totalité ou partie, à
exploiter, son nom, son image, sa voix et sa prestation sportive dans
le cadre des épreuves de cet événement en vue de toute
exploitation directe ou sous forme dérivée des épreuves, et ce sur
tout support, dans le monde entier, par tous les moyens connus ou
inconnus à ce jour, et pour toute la durée de protection
actuellement accordée à des exploitations directes ou dérivées
par les dispositions.</font></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff"><a name="basquet"></a>
<span style="display: inline-block; border: none; padding: 0in"><font face="inherit, serif"><font style="font-size: 12pt" size="3"><i><font color="#000000"><br>
Les
sauveteurs recommandent aux participants, outre une bonne condition
physique,<br>
un échauffement avant chaque épreuve.</font></i></font></font></span></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#000000"><font face="inherit, serif"><font style="font-size: 17pt" size="5">POUR
LE RESPECT DE L’ENVIRONNEMENT</font></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<font color="#ff0000"><font face="inherit, serif"><font style="font-size: 12pt" size="3"><b>Jetez
vos bouteilles vides là où se trouvent les organisateurs ou les
bénévoles. MERCI ATTENTION TOUT MANQUEMENT</b></font></font></font><span style="display: inline-block; border: none; padding: 0in"><font face="inherit, serif"><font style="font-size: 12pt" size="3"><b><font color="#ff0000"><br>
</font></b></font></font></span><font color="#ff0000"><font face="inherit, serif"><font style="font-size: 12pt" size="3"><b>A
CES REGLES ENTRAINERA 10 POINTS DE PENALITE.</b></font></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%; background: #ffffff">
<span style="display: inline-block; border: none; padding: 0in"><font face="inherit, serif"><font style="font-size: 12pt" size="3"><b><font color="#ff0000"><br>
</font></b></font></font></span><font color="#ff0000"><font face="inherit, serif"><font style="font-size: 12pt" size="3"><b>Les
organisateurs se réservent le droit d’annuler l'événement ou
toute épreuve en cas de force majeure.</b></font></font></font></p>
<p style="margin-bottom: 0.14in; line-height: 100%; background: #ffffff">
<font color="#000000"><font face="Georgia, serif"><font style="font-size: 12pt" size="3">Les
organisateurs</font></font></font></p>
