{% with team = scored_team.team%}
<tr>
    <td>{% include '_team_number.html'%}</td>
    <td>{{team.teamname}}</td>
    {% if edit %}
    <td>
      <form action="/score_team" method="POST">
        <input id="team_id" name="team_id" type="hidden" value="{{team.id}}"/>
        <input id="challenge_id" name="challenge_id" type="hidden" value="{{challenge.id}}"/>
        <input type="text" id="score" name="score" value="{{scored_team.score}}" maxlength="4" size="4"/>
        <button type="submit" class="btn btn-info">{{ _('Validate') }}</button>
       </form>
    </td>
    {% else %}
    <td>{{scored_team.score}}</td>
    {% endif %}
</tr>
{% endwith %}
