    <hr/>
    <h3>Users</h3>
    <table class="table table-hover">
        <tr class="row">
            <th class="col-xs-1">{{_("Rank")}}</th>
            <th class="col-xs-8">{{_("UserName")}}</th>
            <th class="col-xs-1">{{_("Age")}}</th>
            <th class="col-xs-1">{{_("ParentAuth")}}</th>
            <th class="col-xs-1">{{_("HealthDoc")}}</th>
        </tr>
    {% macro is_success(success) %}progress-bar-{% if  success %}success{% else%}warning{% endif %}{% endmacro %}
    {% for i in range(4) %}
        <tr class="row">
            <td class="col-xs-1">{{ i }}</td>
            {% if team.get_players() |length < i+1 %}
                <td class="col-xs-8">{{ _('No User') }} </td>
                <td class="col-xs-1"></td>
                <td class="col-xs-1"></td>
                <td class="col-xs-1"></td>
                {% if edit %}
                <td class="col-xs-2"> <a href="{{ url_for('main.create_profile', team_id=team.id)}}" class="btn btn-info">{{ _('Add') }} </a> </td>
                {% endif %}
            {% else %}
                {% set u = team.get_players()[i] %}
                <td class="col-xs-8">{{u.username}}</td>
                <td class="col-xs-1"><span class="badge {{is_success(u.is_valid_age())}}">{{_("age")}}</span></td>
                <td class="col-xs-1"><span class="badge {{is_success(u.is_valid_auth())}}">{{_("auth")}}</span></td>
                <td class="col-xs-1"><span class="badge {{is_success(u.is_valid_doc())}}">{{_("doc")}}</span></td>
                {% if edit %}
                <td class="col-xs-2"> <a href="{{ url_for('main.edit_profile', user_id=u.id)}}" class="btn btn-info">{{ _('Change') }} </a> </td>
                {% endif %}
            {% endif %}
        </tr>
    {%endfor%}
    </table>
