{% if team.get_team_number() != None%}
<span class="badge badge-success"
          role="button"
          data-toggle="popover" 
          data-html=true
          data-content="{{_('Congratulation, Team is validated and subscribed to event')}}"
          >{{team.get_team_number()}}</span>
{% else %}
<span  class="text-success far  fa-edit" 
       role="button"
       data-toggle="popover" 
       data-html=true
       data-content="{{_('Some requirements may miss before subscription is completed: <ul><li>non valid age</li><li> minor authorizations</li><li>health document</li><li> paiement not done or pending.</li></ul> A team number will then be attributed.')}}"
> </span>
{% endif %}
