{% extends "base.html" %}
{% block app_content %}
<p style="margin-bottom: 0in; line-height: 115%">Association Les Open
Games</p>
<p style="margin-bottom: 0in; line-height: 115%">4, le Château</p>
<p style="margin-bottom: 0in; line-height: 115%">11300 Villelongue
d'Aude</p>
<p style="margin-bottom: 0in; line-height: 115%"><br>

</p>
<p style="margin-bottom: 0in; line-height: 115%"><font style="font-size: 12pt" size="3">
    <a href="mailto:lesopengames@gmail.com">lesopengames@gmail.com</a></font></p>
<p></p>
<p style="margin-bottom: 0in; line-height: 115%"><font style="font-size: 12pt" size="3"><span lang="en-US">07
56 82 24 00</span></font></p>
<p style="margin-bottom: 0in; line-height: 115%" lang="en-US"><br>

</p>
<p style="margin-bottom: 0in; line-height: 115%"><font style="font-size: 12pt" size="3"><span lang="en-US">
        <a href="http://lesopengames.com">lesopengames.com</a></span></font></p>
<p style="margin-bottom: 0in; line-height: 115%"><br>

</p>

{% endblock %}
