{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    <h1>{{_('Create Team') }}</h1>
    <form class="form form-horizontal" method="post" role="form">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}
        <div class="row">
            <div class="col-xs-2"> {{ form.teamname.label }}</div>
            <div class="col-xs-4"> {{ form.teamname }}</div>
            <div class="col-xs-6"> </div>
        </div>
        <div class="row">
            <div class="col-xs-2">{{ form.sportlevel.label}} {{get_glyph_info(_('Be aware, that this level choice is final. You will not be able to change it.'))}}</div>
            <div class="col-xs-4">{{ wtf.form_field(form.sportlevel) }}</div>
            <div class="col-xs-6"> </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-2"> </div>
            <div class="col-xs-4"> {{ wtf.form_field(form.submit) }} </div>
            <div class="col-xs-6"> </div>
        </div>
    </form>
{% endblock %}
