{% extends "base.html" %}
{% block app_content %}

    <a href="{{ url_for('static', filename='parent.pdf') }}" class="btn btn-block btn-default">{{_('Download PDF')}}</a>
    <br/>
    <br/>
    <p style="margin-bottom: 0.14in; line-height: 115%"><img src="{{ url_for('static', filename='logo-log.png') }}" name="Image 0" hspace="1" height="155" border="0" align="bottom" width="538">
</p>
<h1 class="western" align="center">Autorisation de participation pour
personne mineure</h1>
<p style="margin-bottom: 0.14in; line-height: 115%"><br>
<br>

</p>
<p style="margin-bottom: 0.14in; line-height: 115%"><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><span style="background: #ffffff">Je
soussigné</span></span></font></font><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><i><span style="background: #ffffff">(e)</span></i></span></font></font><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><span style="background: #ffffff">&nbsp;Monsieur&nbsp;</span></span></font></font><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><i><span style="background: #ffffff">ou
Madame( nom et  prénom du responsable légal)</span></i></span></font></font></p>
<p style="margin-bottom: 0.14in; line-height: 115%"><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><i><span style="background: #ffffff">.............................................................................</span></i></span></font></font></p>
<p style="margin-bottom: 0.14in; line-height: 115%"><font color="#1d1d1b"><span style="letter-spacing: -0.4pt"><span style="background: #ffffff">&nbsp;</span></span></font><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><span style="background: #ffffff">demeurant&nbsp;</span></span></font></font><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><i><span style="background: #ffffff">(indiquer
l’adresse)</span></i></span></font></font><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><span style="background: #ffffff">&nbsp;</span></span></font></font></p>
<p style="margin-bottom: 0.14in; line-height: 115%"><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><span style="background: #ffffff">.............................................................................</span></span></font></font></p>
<p style="margin-bottom: 0.14in; line-height: 115%"><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><span style="background: #ffffff">et
agissant en qualité de&nbsp;</span></span></font></font><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><i><span style="background: #ffffff">(père
ou mère ou autre responsable légal)</span></i></span></font></font></p>
<p style="margin-bottom: 0.14in; line-height: 115%"><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><i><span style="background: #ffffff">............................................................................</span></i></span></font></font></p>
<p style="margin-bottom: 0.14in; line-height: 115%"><font color="#1d1d1b"><span style="letter-spacing: -0.4pt"><span style="background: #ffffff">&nbsp;</span></span></font><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><span style="background: #ffffff">autorise
</span></span></font></font><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><i><span style="background: #ffffff">(précisez
le nom de la personne mineure)</span></i></span></font></font><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><span style="background: #ffffff">&nbsp;</span></span></font></font></p>
<p style="margin-bottom: 0.14in; line-height: 115%"><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><span style="background: #ffffff">..........................................................................</span></span></font></font></p>
<p style="margin-bottom: 0.14in; line-height: 115%"><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><span style="background: #ffffff">et
demeurant à la même adresse&nbsp;</span></span></font></font><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><i><span style="background: #ffffff">ou
une autre si elle est différente</span></i></span></font></font><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><span style="background: #ffffff">&nbsp;à&nbsp;</span></span></font></font><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><i><span style="background: #ffffff">(précisez
le motif).</span></i></span></font></font></p>
<p style="margin-bottom: 0.14in; line-height: 115%"><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><i><span style="background: #ffffff">.........................................................................</span></i></span></font></font></p>
<p style="margin-bottom: 0.14in; line-height: 115%"><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><i><span style="background: #ffffff">	A
s'inscrire et à participer aux épreuves de l'événement "Les
Open Games Limoux 1ère édition" le 15 et 16 juin 2019, sous la
responsabilité du capitaine d'équipe, obligatoirement majeur.</span></i></span></font></font><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><br>
<br>
<br>
</span></font></font><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><span style="background: #ffffff">Je
certifie avoir l’autorité nécessaire sur cet enfant.</span></span></font></font></p>
<p style="margin-bottom: 0.14in; line-height: 115%"><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><span style="background: #ffffff">Date
: ..............................................</span></span></font></font></p>
<p style="margin-bottom: 0.14in; line-height: 115%"><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><span style="background: #ffffff">Lieu
: ...............................................</span></span></font></font></p>
<p style="margin-bottom: 0.14in; line-height: 115%"><font color="#1d1d1b"><font face="Arial, serif"><span style="letter-spacing: -0.4pt"><span style="background: #ffffff">Signature
:</span></span></font></font></p>
{% endblock %}
