{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    <h1>{{_('Edit Team: ') }} {{team.teamname}}</h1>
    <form class="form form-horizontal" method="post" role="form">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}
        <div class="row">
            <div class="col-xs-2"> {{ form.teamname.label }}</div>
            <div class="col-xs-4"> {{ form.teamname }}</div>
            <div class="col-xs-6"> </div>
        </div>
        <div class="row">
            <div class="col-xs-2">{{ form.sportlevel.label}}</div>
            <div class="col-xs-4">{{ team.sport_level_name() }}</div>
            <div class="col-xs-6"> </div>
        </div>
        <div class="row">
            <div class="col-xs-2">{{ form.collsport.label}}</div>
            <div class="col-xs-4">{{ wtf.form_field(form.collsport) }}</div>
            <div class="col-xs-6"> </div>
        </div>
        <div class="row">
            <div class="col-xs-2">{{ form.racksport.label}}</div>
            <div class="col-xs-4">{{ wtf.form_field(form.racksport) }}</div>
            <div class="col-xs-6"> </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-2"> </div>
            <div class="col-xs-4"> {{ wtf.form_field(form.submit) }} </div>
            <div class="col-xs-6"> </div>
        </div>
    </form>
    {% if team %}
        {% with edit=True %}
            {%include '_team_users.html'%}
        {% endwith %}
    {% endif %}
{% endblock %}
