{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    <h1>{{_('Edit Team: ') }} {{team.teamname}}</h1>
    <form class="form form-horizontal" method="post" role="form">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}
        <div class="row">
            <div class="col-xs-2"> {{ form.teamname.label }}</div>
            <div class="col-xs-4"> {{ form.teamname }}</div>
            <div class="col-xs-6"> </div>
        </div>
        <div class="row">
            <div class="col-xs-2">{{ form.sportlevel.label}}</div>
            <div class="col-xs-4">{{ team.sport_level_name() }}</div>
            <div class="col-xs-6"> </div>
        </div>
        <div class="row">
            <div class="col-xs-2">{{ form.collsport.label}}</div>
            <div class="col-xs-4">{{ wtf.form_field(form.collsport) }}</div>
            <div class="col-xs-6"> </div>
        </div>
        <div class="row">
            <div class="col-xs-2">{{ form.racksport.label}}</div>
            <div class="col-xs-4">{{ wtf.form_field(form.racksport) }}</div>
            <div class="col-xs-6"> </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-2"> </div>
            <div class="col-xs-4"> {{ wtf.form_field(form.submit) }} </div>
            <div class="col-xs-6"> </div>
        </div>
    </form>
    <!--
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    -->
    {% if team %}
    <hr/>
    <table class="table table-hover">
        {% for i in range(4) %}
        <tr class="row">
            <td class="col-xs-2">{{ i }} </td>
            {% if team.get_players() |length < i+1 %}
            <td class="col-xs-2">{{ _('No User') }} </td>
            <td class="col-xs-2"> <a href="{{ url_for('main.create_profile', team_id=team.id)}}" class="btn btn-info">{{ _('Add Player') }} </a> </td>
            {% else %}
            {% set player = team.get_players()[i] %}
            <td class="col-xs-2">{{ player.username }} </td>
            <td class="col-xs-2"> <a href="{{ url_for('main.edit_profile', user_id=player.id)}}" class="btn btn-info">{{ _('Modify Player') }} </a> </td>
            {% endif %}
            <td class="col-xs-6"> </td>
        </tr>
        {%endfor%}
    </table>
    {% endif %}
{% endblock %}
