{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    {% if team %}
    <h1>{{_('Edit Team: ') }} {{team.teamname}}</h1>
    {% else %}
    <h1>{{_('Create Team') }}</h1>
    {% endif %}
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    {% if team %}
    <table class="table table-hover">
        {% for i in range(4) %}
        <tr>
            <td>{{ i }} </td>
            {% if team.get_players() |length < i+1 %}
            <td>{{ _('No User') }} </td>
            <td> <a href="{{ url_for('main.create_profile', team_id=team.id)}}" class="btn btn-info">{{ _('Add Player') }} </a> </td>
            {% else %}
            {% set player = team.get_players()[i] %}
            <td>{{ player.username }} </td>
            <td> <a href="{{ url_for('main.edit_profile', user_id=player.id)}}" class="btn btn-info">{{ _('Modify Player') }} </a> </td>
            {% endif %}
        </tr>
        {%endfor%}
    </table>
    {% endif %}
{% endblock %}
