{% extends "base.html" %}

{% block app_content %}
    <div class="row">
        <div class="col-7 col-md-3">
            <h1>{{team.teamname}}</h1>
        </div>
        <div class="col-4 col-md-3">
            <h1>{% include '_team_number.html'%}</h1>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-6 col-md-2 font-weight-bold"> {{ _('Sport Level')}}:</div>
        <div class="col-6 col-md-4"> {{ team.sport_level_name()}}</div>
    </div>
    <div class="row">
        <div class="col-6 col-md-2 font-weight-bold"> {{ _('Collective Sport')}}:</div>
        <div class="col-6 col-md-4"> {{ team.collective_sport_name()}}</div>
    </div>
    <div class="row">
        <div class="col-6 col-md-2 font-weight-bold"> {{ _('Racket Sport')}}:</div>
        <div class="col-6 col-md-4"> {{ team.racket_sport_name()}}</div>
    </div>
    <br/>
    <div class="row">
        <div class="col-12 col-md-2">
            <a href="{{ url_for('main.edit_team', team_id=team.id) }}" class="btn btn-block btn-info">{{_('Edit team')}}</a>
        </div>
    </div>

    {% if team.get_players() |length == 4 %}
    <hr/>
    <div class="row">
        <div class="col-2 col-md-1"><h3>{{_('Billing')}}: </h3></div>
        <div class="col-4 col-md-4"><h3>{{team.get_billing()}} &euro;</h3></div>
    </div>
    <div class="row">
        {% if team.is_paid %}
        <div class="col-10 col-md-4"><h4>( {{_('paiment validated')}} )</h4></div>
        {% elif team.is_striped %}
        <div class="col-10 col-md-4"><h4>( {{_('Stripe paid, waiting for validation')}} )</h4></div>
        {% elif team.is_partner %}
        <div class="col-10 col-md-4"><h4>( {{'-50%'}} {{_('partner')}} )</h4></div>
        {% endif %}
    </div>
    {% macro paiment_disabled() %}{% if  team.is_paid or team.is_striped %}disabled{% endif %}{% endmacro %}
    <div class="row">
        <div class="col-12 col-md-2">
            <a href="{{url_for('billing.stripe_billing', team_id=team.id, amount=team.get_billing())}}" class="btn btn-block btn-info {{paiment_disabled()}}">{{_('Pay with Stripe')}}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-12 col-md-2">
            <a href="{{url_for('billing.check_billing', amount=team.get_billing())}}" class="btn btn-block btn-info {{paiment_disabled()}}" >{{_('Pay with Check')}}</a>
        </div>
    </div>
    {% endif %}
    {% include '_team_users.html'%}
{% endblock %}
