{% extends "base.html" %}

{% block app_content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td><h1>{{_('User:')}} {{ user.username }}</h1>
            {% if user.last_seen %}<p> {{_('Last seen on:')}} {{ moment(user.last_seen).format('LLL') }}</p>{% endif %}
            </td>
        </tr>
    </table>

    {% if user == current_user %}
    <p><a href="{{ url_for('main.edit_profile') }}">{{_('Edit your profile')}}</a></p>
        {% if current_user.team %}
        <p><a href="{{ url_for('main.team', team_id=current_user.team.id) }}">{{ current_user.team.teamname}}</a></p>
        {%else%}
        <p><a href="{{ url_for('main.create_team') }}">{{_('Participate to team')}}</a></p>
        {%endif%}
    {% endif %}

    <br/>

    <table class="table table-hover">
        <tr class="row">
            <td class="col-xs-2 success"><h4>{{_('Pseudo')}}:</h4></td>
            <td class="col-xs-4">{{user.username}}</td>
            <td class="col-xs-6"></td>
        </tr>
        <tr class="row">
            <td class="col-xs-2 success"><h4>{{_('First Name')}}:</h4></td>
            <td class="col-xs-4">{{user.firstname}}</td>
            <td class="col-xs-6"></td>
        </tr>
        <tr class="row">
            <td class="col-xs-2 success"><h4>{{_('Second Name')}}:</h4></td>
            <td class="col-xs-4">{{user.secondname}}</td>
            <td class="col-xs-6"></td>
        </tr>
        <tr class="row">
            <td class="col-xs-2 success"><h4>{{_('Student')}}:</h4></td>
            <td class="col-xs-4">{% if user.student %}{{_('Yes')}}{%else%}{{_('No')}}{%endif%}</td>
            <td class="col-xs-6"></td>
        </tr>
        <tr class="row">
            <td class="col-xs-2 success"><h4>{{_('Gender')}}:</h4></td>
            <td class="col-xs-4">{{user.gender_str()}}</td>
            <td class="col-xs-6"></td>
        </tr>
        <tr class="row">
            <td class="col-xs-2 success"><h4>{{_('Birth Date')}}:</h4></td>
            <td class="col-xs-4">{{user.birthdate}}</td>
            <td class="col-xs-6"></td>
        </tr>
        <tr class="row">
            <td class="col-xs-2 success"><h4>{{_('Email')}}:</h4></td>
            <td class="col-xs-4">{{user.email}}</td>
            <td class="col-xs-6"></td>
        </tr>
        <tr class="row">
            <td class="col-xs-2 success"><h4>{{_('Phone Number')}}:</h4></td>
            <td class="col-xs-4">{{user.phonenumberstr}}</td>
            <td class="col-xs-6"></td>
        </tr>
    </table>

{% endblock %}
