{% macro is_disabled() %}{% if  not current_user.is_anonymous and (current_user.is_admin() or team.is_player(current_user) ) %}{%else%}disabled{% endif %}{% endmacro %}
    <tr class="row">
        <td class="col-xs-1">
            <a href="{{ url_for('main.team', team_id=team.id)}}" class="btn btn-block btn-default {{is_disabled()}}" > {{ team.teamname }} </a>
        </td>
        <td class="col-xs-1">
            {% include '_team_number.html'%}
        </td>
        <td class="col-xs-10">
            {{ team.get_players() | map(attribute="username") | join(", ")}}
        </td>
    {% if current_user.is_authenticated and current_user.is_admin() and admin %}
        <td class="col-xs-1">
            <a href="{{ url_for('main.edit_team', team_id=team.id)}}" class="btn btn-info">{{ _('Edit') }} </a>
        </td>
        <td class="col-xs-1">
            <form action="delete_team/{{team.id}}" method="POST">
                <button type="submit" class="btn btn-info">{{ _('Delete') }}</button>
            </form>
        </td>
        {% endif %}
    </tr>
