    <tr class="row">
        <th class="col"> {{_('Pseudo')}} </th>
        <th class="col"> {{_('First Name')}} </th>
        <th class="col"> {{_('Second Name')}} </th>
        <th class="col"> {{_('Team')}} </th>
    {% if current_user.is_authenticated and current_user.is_admin() and admin %}
        <th class="col"> {{_('Id')}} </th>
        <th class="col"> {{_('Email')}} </th>
        <th class="col"> {{_('Role')}} </th>
        <th class="col"> {{_('Edit')}} </th>
        <th class="col"> {{_('Delete')}} </th>
    {% endif %}
    </tr>

