    <tr >
        <td width='50%'>
            <a href="{{ url_for('main.user', user_id=user.id)}}"> {{ user.username }} </a>
        </td>
        <td>
            {% if user.team != None %}
            {{ user.team.teamname }}
            {% else %}
            {{ _('No Team') }}
            {% endif %}
        </td>
    {% if current_user.role | string() == 'RolesType.ADMIN' and admin %}
        <td>
            {{ user.id }}
        </td>
        <td>
            {{ user.email }}
        </td>
        <td>
            {{ user.role }}
        </td>
        <td>
            <a href="{{ url_for('main.edit_profile', user_id=user.id)}}" class="btn btn-info">{{ _('Edit') }} </a>
        </td>
        <td>
            <form action="delete_user/{{user.id}}" method="POST">
                <button type="submit" class="btn btn-info">{{ _('Delete') }}</button>
            </form>
        </td>
    {% endif %}
    </tr>
